apiVersion: apps/v1
kind: Deployment
metadata:
  name: github-actions-pipeline-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: github-actions-pipeline
  template:
    metadata:
      labels:
        app: github-actions-pipeline
    spec:
      containers:
      - name: github-actions-pipeline
        image: ssm0712/github-actions_first_pipeline:latest
        ports:
        - containerPort: 3000

        resources:
          requests: 
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 250m
            memory: 256Mi

        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 25
          periodSeconds: 15
          timeoutSeconds: 3
          failureThreshold: 4
